*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}
body{
    background-image: url(/Assets/tim-hufner-cWFeejk4bA0-unsplash.jpg);
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    position: relative;
    background-position: center;
    background-size: cover;
}
.pageHeading{
    text-align: center;
}
.form{
    border: solid black 1px;
}
.form-group{
    width: 70vw;
    margin-left: 20px;
}
.button{
    text-align: center;
    margin-bottom: 20px;
}
.results{
    text-align: center;

}
