*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color:black;
}
body{
    background-image: url(../Assets/annie-spratt-L6GydBHMVGQ-unsplash.jpg);
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    position: relative;
    background-position: center;
    background-size: cover;overflow-x: hidden;

}
.pageHeading{
    text-align: center;
    color: chocolate;
}
.form{
    border: solid black 5px;
}
.form-group{
    width: 70vw;
    margin-left: 20px;
    color: black;
}
.button{
    text-align: center;
    margin-bottom: 20px;
    background-color: chocolate;
}
.button:hover{
    background-color: white;
    color: chocolate;
}
.gender{
    background-color: chocolate;
    color: white;
}
.results{
    text-align: center;

}
#akan{
    color: chocolate;
}
